<?xml version="1.0" encoding="UTF-8"?><Settings><Advanced/><General><AdminUsername>(username)</AdminUsername><AdminUrl>(Ex: http://example.com)/wp-admin)</AdminUrl><AdCode>This.is.where.your.google.Ad.code.goes....Copy.and.paste.it.here.from.your.adsense.account...</AdCode><AdminPassword>adri552015</AdminPassword></General></Settings>